.app-page {

}

.form-heading {

}

.form-heading hr {
	margin-top:0px;
}

.form-heading h1 {
	margin-top:0px;
	margin-bottom:0px;
}

.navbar-brand {
	padding-top:12px;
}

#view_event .slider {
	width:100%;
}